@charset "utf-8";
/* CSS Document */

.boxn{
	height: 313px;
	width: 274px;
	float: left;
	border: 4px solid #f90;
	margin-left: 8px;
	margin-right: 8px;
	cursor: pointer;
	
	background-image: url(img/aasda.jpg);
	background-repeat: no-repeat;
	background-position: 25px 20px;
	transition: all 1.1s ease;
	
}

.boxn:hover{
	border-color: #0c0;
	background-position: -255px 20px;
}

